<div id="websites_header">
  <div class="extra no-margin">
    <div class="columns">
      <h2>You're new all inclusive website...built by this weekend.</h2>
      <p>Get More Leads and grow your Catering Business with a done-for-you</br> website optimized for Catering Professionals</p>
      <a href='/consultations/new'><span class='button-down main-button'>Free Consultation</span></a>
    </div>
  </div>
</div>

<section>
  <div class="row" style="padding-top: 30px">
    <div class="section-subtitle">
    <h3 class="subtitle">Caterers Shouldn't Be Web Developers</h3> 
      <div class="website-copy">
      <p style="font-size: 18px">Are you trying to be the Chief Marketing Officer and trying to grow your business at the same time?</p></br>
      <p style="font-size: 18px">It's near impossible.  It's also impractical. You're energy should be used helping your clients get the best outcomes, not trying to do local SEO optimization. </p></br>
      <p style="font-size: 18px">Creating a Website that helps you generate leads requires focus, time and energy.  But how do you make this happen?</p></br>
      <p style="font-size: 18px">You don't.  We do.</p></br>

      </div>
    </div>
</section>


<section id="what-we-do">
  <div class="section-title">
    <h2>End-To-End Lead Generation</h2>
    <h3>Carefully Designed to Grow Your Business</h3>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="/images/hexagon-2.png">
      <h4>Get Up and Running Now</h4>
      <p>Don't spend thousands of dollars or wait months to build out your website.  Catering Hero specializes in building out professional local optimized websites for Catering Professionals.  Get up and running in a Weekend.</p>
    </div>

    <div class="col-md-4">
      <img src="/images/hexagon-4.png">
      <h4>Get More Local Leads</h4>
      <p>We know how Local Search works.  Our websites are built with local optimization in mind.  We build to rank and help you continue to grow your practice.</p>
    </div>

    <div class="col-md-4">
      <img src="/images/hexagon-6.png">
      <h4>Best Practices for Caterers</h4>
      <p>We work exclusively with Catering Professionals.  We're optimized our best practices to help you convert the most website visitors into leads.  Work with us and leverage our best practices.</p>
    </div>
  </div>
  <center><a href="/consultations/new"><span class='button-down main-button' style="border: 1px solid #45D07C; color: #45D07C;">Free Consultation</span></a></center>
</section>

<section id="professional-support">
  <div class="section-title">
    <h2>Professional Support</h2>
    <h3>Have a World Class Web Development Team on your Side</h3>
    <div class="website-copy">
      <p style="font-size: 18px">Every Customer on Catering Hero has access to a world class team of developers and designers.  Ask us anything.  Anytime.</p></br>
      <p style="font-size: 18px">We're here to help.  We can do all of the following with no additional charge.</p></br>
        <ul>
          <li><p style="font-size: 18px">Unsure how to make a website change?  Ask away.</p></li>
          <li><p style="font-size: 18px">Want us to make a design change?  Let us know.</p></li>
          <li><p style="font-size: 18px">Want ideas to generate more locally optimized SEO content?  We're here to help.</p></li>
        </ul></br>
      <p style="font-size: 18px">Sit back and let us do the work for you.  We'll have you're website up and running in only 3 days.  Yes, you read that right.  <strong>3 Days.</strong></p></br>
      <h3 style="padding-top: 0px; margin-top: 0px">How's that Possible?</h3><br/>
      <p style="font-size: 18px">We're confident we can do this because we specialize.  Helping only Catering Professionals get up and running quickly and effectively.</p></br>
      <a href="/consultations/new"><span class='button-down main-button' style="border: 1px solid #45D07C; color: #45D07C;">Free Consultation</span></a>
      </div>
  </div>  
</section>

<section id="packages">

  <h2>Packages</h2>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <h3>Website & Support</h3>
      <p class="price">$49 / Month</p>
      <p>Receive a Professionally Hosted Website build for Catering Professionals.</p>
      <hr>
      <ul>
        <li>Professional Design</li>
        <li>Mobile Optimized</li>
        <li>Reliable Web Hosting</li>
        <li>Easy Website Management</li>
        <li>Done for You Support</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Website & Support + Marketing</h3>
      <p class="price">$99 / Month</p>
      <p>Add Marketing Tools and Analytics to get the Most of Your Website.</p>
      <hr>
      <ul>
        <li>Professional Design</li>
        <li>Mobile Optimized</li>
        <li>Reliable Web Hosting</li>
        <li>Easy Website Management</li>
        <li>Done for You Support</li>
        <li>Email Newsletter Integration</li>
        <li>Promotional Incentives</li>
        <li>Monthly Email Newsletters</li>
        <li>Google Analytics Optimization</li>
      </ul>
      <br/>
    </div>


    <div class="col-md-2"></div>


  </div>
</section>

<section id="what-we-do">
  <center><div class="ready">Ready to Get Started?</div></center>
  <center><a href="/consultations/new"><span class='button-down main-button' style="border: 1px solid #45D07C; color: #45D07C;">Get a Free Consultation</span></a></center>
</section>