
  <div class="hero-bg-2">
    <div class="headline">
      <h1 class="home2headline w-hidden-tiny">Find Local Caterers<br/>in Your Area.</h1>
      <div class="subheaderhome2 ">Get the Best Caterer for Your Event.</div>
      <a href="/quote">
        <div class="home2button">Get a Quote</div>
      </a>

    </div>

  </div>

  <div class="section" style="background-color: white;">
    <div class="container-fluid">
      <h2 style="font-size: 30px; text-align: center">How It Works</h2>
      <p style="text-align: center">Search for the Best Caterers in Your Area.</p>
      <div class="w-row snippet-row">
        <div class="col col-md-4">
          <div class="box" style = "text-align: center;">
            <img class="example-image" src="images/dapperbox_signup.jpg">
            <div class="line-border"></div>
            <div class="snippet-text-section">
              <h3>Submit a Quote</h3>
              <p style="font-style: italic">Our caterers will look at your event and submit quotes along with their qualifications.</p>
              <div style="padding: 20px; text-align: center"><a class="signup_button" style="text-align: center" href="/plans">Learn More</a></div>
            </div>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="box" style = "text-align: center;">
            <img class="example-image" src="images/dapperboxhome.jpg" >
            <div class="line-border"></div>
            <div class="snippet-text-section">
              <h3>Blah</h3>
              <p style="font-style: italic">We source from the best brands and factories in the world to get you premium men's goods you'll actually wear.</p>
              <div style="padding: 20px; text-align: center"><a class="signup_button" style="text-align: center" href="/plans">Learn More</a></div>
            </div>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="box" style = "text-align: center;">
            <img class="example-image" src="images/content2.png">
            <div class="line-border"></div>
            <div class="snippet-text-section">
              <h3>Blah</h3>
              <p style="font-style: italic">Receive a hand selected box of Dapper Menswear Goods.  Give us a try.</p>
              <div style="padding: 20px; text-align: center"><a class="signup_button" style="text-align: center" href="/plans">Learn More</a></div>
            </div>
          </div>
        </div>
      </div>
      
      </div>
  </div>
  <div style="margin-top: 25px; paddint-top: 5px;">
    <div class="publications">
      <span>Featured On</span>
      <img id="techcrunch" src="/images/techcrunchlogo_dark.png"></img>
      <img id="lifehacker" src="/images/lifehackerlogo_dark.png"></img>
    </div>
  </div>

    
  <div class="row"  style="background-color: white; margin-bottom: 0px">
    <div class="col col-md-6 pics">
      <div class="imagehome2a">
      </div>
    </div>
    <div class="col col-md-6" style="text-align: center;">
      <h3 style="padding-top: 45px">Your Style, Curated.</h3>
      <p>Dapper Box combines years of menswear knowledge to recommend the perfect Men's Accessories for you. Each month we carefully curate the best options and deliver them straight to your door. </p>
      <a href="/plans">
        <div class="home2buttonc">Get Your Box</div>
      </a>
    </div>
  </div>
  <div class="row" style="background-color: white;">
    <div class="pics col col-md-6 " style="text-align: center;">
      <h3 style="padding-top: 45px">FAQ</h3><br/>
        <ul>
          <li style="margin-bottom: 24px; color: black">Each box comes with 4 - 5 Dapper Items worth up to $96 </li>
          <li style="margin-bottom: 24px; color: black">New members ship within the same week </li>
          <li style="margin-bottom: 24px; color: black">Shipping is Free within the US </li>
          <li style="margin-bottom: 24px; color: black">100% Money Back Guarantee.  Cancel anytime. </li>
        </ul>
      <a href="/plans">
        <div class="home2buttonc">Get Your Box</div>
      </a>
    </div>
    <div class="col col-md-6 pics">
      <div class="imagehome2a">
      </div>
    </div>
    
  </div>