
  <div class="hero-bg-2">
    <div class="headline">
      <h1 class="home2headline w-hidden-tiny" style="background-color: black; opacity: 0.7; margin-right: 200px; padding-left: 10px">Get a Quote For <br/>Your Food Truck.</h1>
      <div class="subheaderhome2" style="background-color: black; opacity: 0.7; padding-left: 10px">Stop googling and find the best food truck builders and manufacturers to get you started.</div>
      <a href="/quote">
        <div class="home2button">Get a Quote</div>
      </a>

    </div>

  </div>a

  <div class="section" style="background-color: white;">
    <div class="container-fluid">
      <h2 style="font-size: 30px; text-align: center">How It Works</h2>
      <p style="text-align: center; font-size: 20px">Search for the Best Food Truck Builders in Your Area.</p>
      <div class="w-row snippet-row">
        <div class="col col-md-4">
          <div class="box" style = "text-align: center;">
            <img class="example-image" src="images/food_truck_carnival.jpg">
            <div class="line-border"></div>
            <div class="snippet-text-section">
              <h3>Submit a Quote</h3>
              <p style="font-style: italic">Submit a quote with the most detail possible.  The more detail the better the quotes!</p>
              <div style="padding: 20px; text-align: center"><a class="signup_button" style="text-align: center; color: white" href="/quote">Get a Quote</a></div>
            </div>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="box" style = "text-align: center;">
            <img class="example-image" src="images/food_truck_layout.jpg" >
            <div class="line-border"></div>
            <div class="snippet-text-section">
              <h3>Get Bids</h3>
              <p style="font-style: italic">Once you submit your quote Food Truck Builders from Around the Country will submit Bids for your Food Truck.</p>
              <div style="padding: 20px; text-align: center"><a class="signup_button" style="text-align: center; color: white" href="/quote">Get a Quote</a></div>
            </div>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="box" style = "text-align: center;">
            <img class="example-image" src="images/Fashion_truck.jpg">
            <div class="line-border"></div>
            <div class="snippet-text-section">
              <h3>Get Up and Running</h3>
              <p style="font-style: italic">Choose the best manufacturer for your services and start your Food Trucking Experience Immediately!</p>
              <div style="padding: 20px; text-align: center"><a class="signup_button" style="text-align: center; color: white" href="/quote">Get A Quote</a></div>
            </div>
          </div>
        </div>
      </div>
      
      </div>
  </div>
  <!-- <div style="margin-top: 25px; paddint-top: 5px;">
    <div class="publications">
      <span>Featured On</span>
      <img id="techcrunch" src="/images/techcrunchlogo_dark.png"></img>
      <img id="lifehacker" src="/images/lifehackerlogo_dark.png"></img>
    </div>
  </div> -->

    
  <div class="row"  style="background-color: white; margin-bottom: 0px">
    <div class="col col-md-6 pics">
      <div class="imagehome2a">
      </div>
    </div>
    <div class="col col-md-6" style="text-align: center;">
      <h3 style="padding-top: 45px">The Best Manufacturers in The US.</h3>
      <p>We work with only the best food truck manufacturers and builders in the industry.  By submitting a quote, you'll get the best talent bidding for your job. </p>
      <a href="/quote">
        <div class="home2buttonc">Submit A Quote</div>
      </a>
    </div>
  </div>
  <div class="row" style="background-color: white;">
    <div class="pics col col-md-6 " style="text-align: center;">
      <h3 style="padding-top: 45px">FAQ</h3><br/>
        <ul>
          <li style="margin-bottom: 24px; color: black">This is a completely free service!</li>
          <li style="margin-bottom: 24px; color: black">Submit a Quote and start receiving bids from across the US </li>
          <li style="margin-bottom: 24px; color: black">No Commitments!</li>
        </ul>
      <a href="/quote">
        <div class="home2buttonc">Get A Quote</div>
      </a>
    </div>
    <div class="col col-md-6 pics">
      <div class="imagehome2b">
      </div>
    </div>
    
  </div>