/* BootStrap OverRides */

a:hover {
  background-color: none;
}

/* Nav Bar */

.nav-links {
  padding-right: 30px;
  margin-top: 15px;
}

.nav-link {
  padding: 10px;
}

/* Footer */
.footer-link {
  margin-right: 9px;
  margin-left: 9px;
  color: #008cff;
  font-family: "brandon-grotesque";
  font-size: 14px;
  text-decoration: none;
}
.footer-nav-bar {
  text-align: right;
}
.footer-text {
  font-size: 14px;
}

.footer-nav-bar {
    text-align: center;
  }
.left-footer-col {
  margin-bottom: 13px;
  text-align: center;
}
.section {
  padding-top: 15px;
  padding-bottom: 44px;
}

li {
  font-family: "brandon-grotesque";
  font-size: 18px;
  font-weight: 400;
  color: black;
  padding-left: 20px;
  list-style-type: none;
}

/* Home */
.hero-bg-2 {
  background: url('/images/dapper_header_3.jpg') no-repeat scroll left top / cover transparent;
  height: 550px;

}

.headline {
  padding: 100px 80px 0px;
  margin: 0px auto;
  color: #FFF;
  text-transform: uppercase;
}

.home2headline {
  color: #FFF;
  font-size: 46px;
  line-height: 54px;
}

.subheaderhome2 {
  font-size: 18px;
  letter-spacing: 0.08em;
  max-width: 510px;
}

.home2button {
  margin: 35px 0px 0px 80px;
  width: 170px;
  font-size: 15px;
  background: none repeat scroll 0% 0% #00ADEE;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  color: #FFF;
  line-height: 50px;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  transition: all 0.5s ease 0s;
}

.signup_button {
  background-color: #008cff;
  letter-spacing: 1px;
  color: white;
  border-radius: 3px;
  padding: 14px;
}

.home2buttonb{
  width: 108px;
  margin: 0px 20px;
  text-align: center;
  font-size: 15px;
  border: 1px solid #FFF;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  color: #FFF;
  line-height: 48px;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  text-align: center;
  transition: all 0.5s ease 0s;
}

.home2buttonc {
  margin: 35px 0px 0px 80px;
  width: 190px;
  font-size: 15px;
  background: none repeat scroll 0% 0% #00ADEE;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  color: #FFF;
  line-height: 50px;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  transition: all 0.5s ease 0s;
}

.home2button .pic {
  margin: 0% 33%; 
  width: 190px;
}

.home2button:hover{
  background: none repeat scroll 0% 0% #6184DB;
}

.home2buttonb:hover{
  background: none repeat scroll 0% 0% #FFF;
  opacity: 70%;
}

.publications{
  background: none repeat scroll 0% 0% #f5f5f5;
  min-height: 110px;
  text-align: center;
  padding-top: 8px;
}

.publications span {
  text-transform: uppercase;
  color: #666;
  font-weight: bold;
  margin: 0px 30px 20px 0px;
  position: relative;
  top: 2px;
}

#lifehacker {
  height: 25px;
}

#techcrunch {
  height: 25px;
}

.imagehome2a {
  background: url('/images/one_background.jpg') repeat scroll center top / cover transparent;
  padding-top: 20px;
  height: 380px;
}

.pics {
  padding-left: 0px;
  padding-right: 0px;

}
.text_container {
  max-width: 423px;
  margin: auto;
  text-align: center;
}

.box .example-image {
  border: 2px solid rgba(36,46,60,.2);
  border-radius: 120px;
  height: 230px;
  width: 230px;
  padding: 3px;
  margin: 0px auto 0px;
  overflow: hidden;
  position: relative;
  text-align: center;
  }




/* Quote Page */

.grey {
  background-color: #F2F2F2;
  padding: 30px;
}

.quote-header {
  text-align: center;
  padding: 20px;
}

.quote-form {
  background-color: #FFF;
  padding: 20px;
  width: 500px;
  border: 3px #e4e4e4 solid;
}

.quote-button {
  width: 170px;
  font-size: 15px;
  background: none repeat scroll 0% 0% #00ADEE;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  color: #FFF;
  line-height: 50px;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  transition: all 0.5s ease 0s;
  }

.quote-button:hover {
  background: none repeat scroll 0% 0% #6184DB;
  }

.quote_label {
  color: #848589;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}

.quote_input {
  border: 1px #e4e4e4 solid;
  display: block;
  color: #17181B;
  height: 53px;
  font-weight: 400;
  font-size: 19px;
  width: 100%;
  padding: 7px;
}

.quote_text_area {
  border: 1px #e4e4e4 solid;
  display: block;
  color: #17181B;
  font-weight: 400;
  font-size: 19px;
  width: 100%;
  padding: 7px;
}

.quote_textarea {
  border: 1px #e4e4e4 solid;
  display: block;
  color: #17181B;
  height: 100px;
  font-weight: 400;
  font-size: 19px;
  width: 100%;
  padding: 7px;
}

@media (max-width: 482px) {
  .quote-form {
    width: 350px;
  }
}

/* Profile Page */



.profile-header {
  min-height: 1rem;
  line-height: 1.33;
  border: none;
  padding: 0em;
  font-weight: bold;
  padding-bottom: 3.5em;
  background: #EEEFEF;
}

.profile-content {
  position: relative;
  z-index: 2;
  width: 100%;
  background: #f8f8f8;
  padding-bottom: 100px;  
}

.ui.responsive.grid {
  padding: 0% 8%;
  margin-left: 0% !important;
  margin-right: 0% !important;
  min-width: 320px;
  display: block;
  text-align: left;
  font-size: 0em;
  margin: 0% -1.5%;
  box-sizing: border-box;
}

.tab-menu{
  position: relative;
  top: -24px;
  display: inline-block;
  border-color: #9DA6AB;
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  color: #9DA6AB;
  border-radius: 0.1875rem;
}

.tab{
  width: 33%;
  font-style: italic;
  color: #9DA6AB;
  font-size: 1rem;
  min-height: 2.5em;
  position: relative;
  display: inline-block;
  padding: 0.75em 0.95em;
  border-top: 0em solid rgba(0, 0, 0, 0);
  border: #9DA6AB;
}

.circular-image {
  border-radius: 500em;
  width: 135px;
  height: 135px;
}

.avatar {
  float: left;
  margin-right: 1em;
  font-size: 1.875em;
  font-weight: bold;
  width: 135px;
  height: 135px;
  border: 4px solid white;
  border-radius: 500em;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); 
}

.meta {
  color: #9da6ab;
  margin: 0.6em 0 0.8em 10em;
}
.joined{
  margin-right: 0.9em;
}
.bio {
  margin-left: 11em;
}

/* Quote Show Page */

.quote-header-show {
  box-shadow: 0px 0px 1px 0px rgba(100,100,100,0.2);
}

.left {
  float: left;
}

.right {
  float: right;
}

.pic-padding {
  margin-right: 2rem;
}

.marg-bot-top-0 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.overflow-hidden {
  overflow: hidden;
}

.pad-top-bot {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.inline {
  display: inline;
}

.border-top{
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #f3f4f5;
}

.tab-container {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
}

.new-nav--tabs {
  display: table;
  width: 100%;
  table-layout: auto;
  margin-bottom: 0px;
  padding-left: 0;
  margin-top: 0;
}

.new-tab {
  text-align: center;
  float: left;
  display: table-cell;
  line-height: 1.6;
  font-size: 20px;
  box-shadow: inset 0 -3px 0 #338EDA;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
}

.new-tab-unselect {
  text-align: center;
  float: left;
  display: table-cell;
  line-height: 1.6;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
}

.grey-quote-block {
  background-color: #f3f4f5;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bg-white {
  background-color: #FFF;
}

.bid-shadow {
  box-shadow: 0 0 0.25rem 0 rgba(0,0,0,0.05);
  border-radius: 4px;
  margin-bottom: 10px;
}

.bid-header {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
}

/* Bidding Show Page*/

.commenttextarea {
      width: 80%;
    }