  <div class="section footer-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4" style="margin-left:10px;">
          <div class="footerlabel"  style="letter-spacing:1px;"><strong>Welcome to CateringFox</strong></div><br/>
          <div>
            <p class="footer-text" style="letter-spacing:1px;">We make creating Catering related websites a quick and painless process.<br/> <br/>Whether you're building a new catering company or porting over an expensive monthly program.  We'll give you the best industry service available.<br/><br/>Give CateringFox a Try! Risk Free.  30 Day Money Back Guarantee.</p>
          </div>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            
          </ol>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            
          </ol>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            
          </ol>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="footer-text" style="margin-left:20px; letter-spacing: 1px;">©&nbsp;Catering Fox. All Rights Reserved.</div>
  </div>
