  <div class="section footer-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4" style="margin-left:10px;">
          <div class="footerlabel"  style="letter-spacing:1px;"><strong>Welcome to A-Z Food Truck Manufacturers</strong></div><br/>
          <div>
            <p class="footer-text" style="letter-spacing:1px;">A-Z Food Truck Manufacturers is dedicated to connecting local food truck entrepreneurs with the highest quality food truck manufacturers in the country.</p>
          </div>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            <li><a href='/blog'>Blog</a></li>
            
          </ol>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            
          </ol>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            
          </ol>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="footer-text" style="margin-left:20px; letter-spacing: 1px;">©&nbsp;A-Z Food Truck Manufacturers. All Rights Reserved.</div>
  </div>
