  <div class="section footer-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="footerlabel"><strong>Welcome to CateringForce</strong></div><br/>
          <div>
            <p class="footer-text">We endeavor to make finding the best caterer a quick and painless process. <br/>Whether you're finding a wedding caterer or looking for a corporate catering service we make the matchmaking as efficient as possible with the best caterers in your state.<br/><br/>Give Catering Foce a Try!</p>
          </div>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            <li>
              <div class="footerlabel">Support</div>
            </li>
            <li><a class="footer-link" href="/faq">FAQ</a>
            </li>
            <li><a class="footer-link" href="/privacy">Privacy</a>
            </li>
          </ol>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            <li>
              <div class="footerlabel">My&nbsp;Account</div>
            </li>
            <% if signed_in? %>
        
            <li><a class="footer-link" href="/logout">Logout</a></li>
             <li><a class="footer-link" href="/account">My Account</a></li>
            <% else %>
            <li><a class="footer-link" href="/login">Login</a></li>
            <%end%>
           
          </ol>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            <li>
              <div class="footerlabel">Browse</div>
            </li>
            <li><a class="footer-link" href="/plans">Browse Caterers</a>
            </li>
            <li><a class="footer-link" href="/previousboxes"></a>
            </li>
          </ol>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            <li>
              <div class="footerlabel">Our Story</div>
            </li>
            <li><a class="footer-link" href="/blog">Catering Journal</a>
            </li>
            <li><a class="footer-link" href="/affiliates">About Us</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="footer-text">©&nbsp;Catering Force. All Rights Reserved.</div>
  </div>
