<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
    </div>
    <div class="navbar-right nav-links">
	      <a class="nav-link" href="/discussion">The Forum</a>
	      <a class="nav-link" href="/labs">The Lab</a>
	  </div>
  </div>
</nav>