<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
       A-Z FOOD TRUCK MANUFACTURERS
      </a>
    </div>
    <!--
    <div class="navbar-right nav-links">
      <% if signed_in? %>
	      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "nav-link"%>
      <% else %>
	      <a class="nav-link" href="/users/sign_up">Sign Up</a>
        <%= link_to "Caterer Registration", new_user_registration_path(vendor: true), class: "nav-link" %>
      <% end %>
	  </div>-->
  </div>
</nav>